@using gestorOficina.Modelo.Interface;
@using gestorOficina.Modelo.Classes;

@page "/cliente"
@inject IServico<Estado> servicoEstado;
@inject IServico<Cidade> servicoCidade;
@inject IServico<Bairro> servicoBairro;

<PageTitle>Cadastro de Clientes</PageTitle>
<RadzenDropDown TValue="string" Data=@estados TextProperty="Descricao" ValueProperty="UF" @bind-Value=@value Style="width: 100%; max-width: 400px;" />

@if (cliente is null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <RadzenTemplateForm Data="@cliente" Submit="@((Cliente args) => Submit(args) )">
        <RadzenRow Gap="2rem" Class="rz-p-0 rz-p-lg-4">
            <RadzenColumn Size="12" SizeMD="6">
                <RadzenStack>
                    <RadzenFieldset Text="Purchase Info">
                        <RadzenStack Gap="1rem">
                            <RadzenRow AlignItems="AlignItems.Center">
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Credit Card" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenDropDown @bind-Value="cliente.estados" AllowClear="true" Placeholder="Select something" Data="@estados" Style="width: 100%;" TextProperty="UF" ValueProperty="CardId" Name="Card"></RadzenDropDown>
                                </RadzenColumn>
                            </RadzenRow>
                            <RadzenRow AlignItems="AlignItems.Center">
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Card #" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenTextBox Style="width: 100%;" Name="CardNr" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenStack>
                    </RadzenFieldset>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem" Class="rz-mt-8 rz-mb-4">
            <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Large" Icon="save" Text="Save" />
            <RadzenButton ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Large" Icon="cancel" Text="Cancel" Click="@Cancel" />
        </RadzenStack>
    </RadzenTemplateForm>
    
}


@code{
    private List<Estado> estados;
    private List<Cidade> cidades;
    private List<Bairro> bairros;
    private Cliente cliente;

    protected override async Task OnInitializedAsync()
    {
        cliente = new Cliente();
        estados =  await servicoEstado.Recuperar(null);
        cidades = await servicoCidade.Recuperar(null);
        bairros = await servicoBairro.Recuperar(null);
    }

    private void Submit(Cliente c)
    {
        
    }

}